trusty:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=trustybuild
    - TESTNODE=trustytest
  links:
    - trustybuild
    - trustytest
    - rabbitmq
    - mongodb
    - postgres

xenial:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=xenialbuild
    - TESTNODE=xenialtest
  links:
    - xenialbuild
    - xenialtest
    - rabbitmq
    - mongodb
    - postgres

bionic:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=bionicbuild
    - TESTNODE=bionictest
    # NOTE: We don't build st2mistral package so we don't mix Python 3
    # (StackStorm components) and Python 2 (Mistral)
    # Bionic will be first release without a Mistral
    - ST2_PACKAGES=st2
  links:
    - bionicbuild
    - bionictest
    - rabbitmq
    - mongodb
    - postgres

el8:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=centos8build
    - TESTNODE=centos8test
  links:
    - centos8build
    - centos8test
    - rabbitmq
    - mongodb
    - postgres

el7:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=centos7build
    - TESTNODE=centos7test
  links:
    - centos7build
    - centos7test
    - rabbitmq
    - mongodb
    - postgres

el6:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - ST2_PYTHON=1
    - BUILDNODE=centos6build
    - TESTNODE=centos6test
  links:
    - centos6build
    - centos6test
    - rabbitmq
    - mongodb
    - postgres

## Package build nodes
#
trustybuild:
  image: stackstorm/packagingbuild:trusty
  volumes_from:
    - st2-packages-vol

xenialbuild:
  image: stackstorm/packagingbuild:xenial
  volumes_from:
    - st2-packages-vol

bionicbuild:
  image: stackstorm/packagingbuild:bionic
  volumes_from:
    - st2-packages-vol

centos6build:
  image: stackstorm/packagingbuild:centos6
  volumes_from:
    - st2-packages-vol

centos7build:
  image: stackstorm/packagingbuild:centos7
  volumes_from:
    - st2-packages-vol

centos8build:
  image: stackstorm/packagingbuild:centos8
  volumes_from:
    - st2-packages-vol

## Package testing nodes
#
trustytest:
  image: stackstorm/packagingtest:trusty-upstart
  volumes_from:
    - st2-packages-vol

xenialtest:
  image: stackstorm/packagingtest:xenial-systemd
  privileged: true
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup:ro

bionictest:
  image: stackstorm/packagingtest:bionic-systemd
  privileged: true
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup:ro

centos6test:
  image: stackstorm/packagingtest:centos6-sshd
  volumes_from:
    - st2-packages-vol

centos7test:
  image: stackstorm/packagingtest:centos7-systemd
  privileged: true
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup

centos8test:
  image: stackstorm/packagingtest:centos8-systemd
  privileged: true
  cap_add:
    - SYS_ADMIN
  security_opt:
    - seccomp:unconfined
  extends:
    file: docker-compose.override.yml
    service: volumes-compose
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
