wheezy:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: docker-compose.override.yml
    service: suite-circle
  environment:
    - BUILDNODE=wheezybuild
    - TESTNODE=wheezytest
  links:
    - wheezybuild
    - wheezytest

jessie:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: docker-compose.override.yml
    service: suite-circle
  environment:
    - BUILDNODE=jessiebuild
    - TESTNODE=jessietest
  links:
    - jessiebuild
    - jessietest

trusty:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: docker-compose.override.yml
    service: suite-circle
  environment:
    - BUILDNODE=trustybuild
    - TESTNODE=trustytest
  links:
    - trustybuild
    - trustytest

el7:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: docker-compose.override.yml
    service: suite-circle
  environment:
    - BUILDNODE=centos7build
    - TESTNODE=centos7test
  links:
    - centos7build
    - centos7test

el6:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: docker-compose.override.yml
    service: suite-circle
  environment:
    - ST2_PYTHON=1
    - BUILDNODE=centos6build
    - TESTNODE=centos6test
  links:
    - centos6build
    - centos6test

## Package build nodes
#
wheezybuild:
  image: stackstorm/packagingenv:wheezy
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

jessiebuild:
  image: stackstorm/packagingenv:jessie
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

trustybuild:
  image: stackstorm/packagingenv:trusty
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

centos6build:
  image: stackstorm/packagingenv:centos6
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

centos7build:
  image: stackstorm/packagingenv:centos7
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

## Package testing nodes
#
wheezytest:
  image: stackstorm/packagingtest:wheezy
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

jessietest:
  image: stackstorm/packagingtest:jessie
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

trustytest:
  image: stackstorm/packagingtest:trusty
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

centos6test:
  image: stackstorm/packagingtest:centos6
  extends:
    file: docker-compose.override.yml
    service: volumes-circle

centos7test:
  image: stackstorm/packagingtest:centos7
  extends:
    file: docker-compose.override.yml
    service: volumes-circle
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
