## Suites configuration
#
suite:
  image: fake
  working_dir: /root/st2-packages
  environment:
    - DEBUG_LEVEL=0
  volumes:
    - .:/root/st2-packages
    - /tmp/st2-packages:/root/build

suite-compose:
  image: fake
  extends:
    file: docker-compose.override.yml
    service: suite

suite-circle:
  image: fake
  command: build
  extends:
    file: docker-compose.override.yml
    service: suite

## Volumes passed during compose or ci builds
#
volumes-compose:
  image: fake
  volumes:
    - /tmp/st2-packages:/root/build

volumes-circle:
  image: fake
  volumes:
    - /tmp/st2-packages:/root/build

## Service used by st2
#
rabbitmq:
  image: rabbitmq:management
  hostname: rabbit
  ports:
    - "15672:15672"  # managment plugin port
    - "5672:5672"

mongodb:
  image: mongo
  ports:
    - "27017:27017"

postgres:
  image: postgres
  ports:
    - "5432:5432"
  environment:
    - POSTGRES_USER=mistral
    - POSTGRES_PASSWORD=StackStorm
