focal:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=focalbuild
    - TESTNODE=focaltest
    - ST2_PACKAGES=st2
  links:
    - focalbuild
    - focaltest
    - rabbitmq
    - mongodb
    - redis

el8:
  image: quay.io/stackstorm/packagingrunner
  working_dir: /root/st2-packages
  volumes_from:
    - st2-packages-vol
  environment:
    - BUILDNODE=rockylinux8build
    - TESTNODE=rockylinux8test
  links:
    - rockylinux8build
    - rockylinux8test
    - rabbitmq
    - mongodb
    - redis

## Package build nodes
#
focalbuild:
  image: stackstorm/packagingbuild:focal
  volumes_from:
    - st2-packages-vol

rockylinux8build:
  image: stackstorm/packagingbuild:rockylinux8
  volumes_from:
    - st2-packages-vol

## Package testing nodes
#
focaltest:
  image: stackstorm/packagingtest:focal-systemd
  privileged: true
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup:ro

rockylinux8test:
  image: stackstorm/packagingtest:rockylinux8-systemd
  privileged: true
  cap_add:
    - SYS_ADMIN
  security_opt:
    - seccomp:unconfined
  volumes_from:
    - st2-packages-vol
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
