wheezy:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: compose.yml
    service: suite-compose
  environment:
    - BUILDNODE=wheezybuild
    - TESTNODE=wheezytest
  links:
    - wheezybuild
    - wheezytest
    - rabbitmq
    - mongodb
    - postgres

jessie:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: compose.yml
    service: suite-compose
  environment:
    - BUILDNODE=jessiebuild
    - TESTNODE=jessietest
  links:
    - jessiebuild
    - jessietest
    - rabbitmq
    - mongodb
    - postgres

trusty:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: compose.yml
    service: suite-compose
  environment:
    - BUILDNODE=trustybuild
    - TESTNODE=trustytest
  links:
    - trustybuild
    - trustytest
    - rabbitmq
    - mongodb
    - postgres

centos7:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: compose.yml
    service: suite-compose
  environment:
    - BUILDNODE=centos7build
    - TESTNODE=centos7test
  links:
    - centos7build
    - centos7test
    - rabbitmq
    - mongodb
    - postgres

centos6:
  image: quay.io/stackstorm/packagingrunner
  extends:
    file: compose.yml
    service: suite-compose
  environment:
    - ST2_PYTHON=1
    - BUILDNODE=centos6build
    - TESTNODE=centos6test
  links:
    - centos6build
    - centos6test
    - rabbitmq
    - mongodb
    - postgres

## Package build nodes
#
wheezybuild:
  image: quay.io/stackstorm/packagingenv:wheezy
  extends:
    file: compose.yml
    service: volumes-compose

jessiebuild:
  image: quay.io/stackstorm/packagingenv:jessie
  extends:
    file: compose.yml
    service: volumes-compose

trustybuild:
  image: quay.io/stackstorm/packagingenv:trusty
  extends:
    file: compose.yml
    service: volumes-compose

centos6build:
  image: quay.io/stackstorm/packagingenv:centos6
  extends:
    file: compose.yml
    service: volumes-compose

centos7build:
  image: quay.io/stackstorm/packagingenv:centos7
  extends:
    file: compose.yml
    service: volumes-compose

## Package testing nodes
#
wheezytest:
  image: quay.io/dennybaa/droneunit:wheezy-sshd
  extends:
    file: compose.yml
    service: volumes-compose

jessietest:
  image: quay.io/dennybaa/droneunit:jessie-sshd
  extends:
    file: compose.yml
    service: volumes-compose

trustytest:
  image: quay.io/dennybaa/droneunit:trusty-upstart
  extends:
    file: compose.yml
    service: volumes-compose

centos6test:
  image: quay.io/dennybaa/droneunit:centos6-sshd
  extends:
    file: compose.yml
    service: volumes-compose

centos7test:
  image: quay.io/dennybaa/droneunit:centos7-systemd
  extends:
    file: compose.yml
    service: volumes-compose
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
