#!/usr/bin/make -f
# -*- makefile -*-

# Virtualenv and pip should be updated (better not to use the distro defaults).
# Updated ones can be found under /use/local.
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	# We need dh_auto_install stage, because we do custom installs
	dh_auto_install
	dh_virtualenv
