Source: st2exporter
Section: Python
Priority: optional
Maintainer: StackStorm Engineering <opsadmin@stackstorm.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/st2auth.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/st2auth.git;a=summary

Package: st2exporter
Architecture: any
Pre-Depends: dpkg (>= 1.16.16), python2.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, st2common
Description: St2Export - StackStorm exporter component.
 <insert long description, indented with spaces>
